:root{

    --line-height:23px;
    --body-font-weight:400;
    --input-bg:#eee;
    --small-radius:6px;
    --nav-height:90px;
    

    
}
/* Font - Verdana (H1 - 22px, H2 - 18px, H3 -16px (bold), body text)  */
/* Font size (body text) - 16px, line height 18px; (Weight 400, Style - Normal)
 */