.button{
    color:white;
    align-self: right;;
    margin:0 10px;
    font-size:13px;
    background: var(--main-color);
    border:none;
}
.lg-btn{
    padding:10px 55px;
    
}
.small-btn{
    padding: 10px 10px;

}