.sidebar-item{
    background: var(--sidebar-item-bg);
    height: 50%;
    margin: 8px;
    padding: 23px;
    font-size: 16px;
    color: white;
    border-radius: var(--small-radius);

}
.sidebar-item button{
    background: none;
    border:none;
    color:white;
}