.form{
    background: #d9d9d9;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:45%;
    height:70vh

}

.mainSection{
    display:flex;
    flex-direction: column;
    margin-left:14px
}

.inputField{
    width:50%;
    background: #eee;
    border:none;
    margin:6px 0;
    padding:6px;
}

.formTitle{
    color: #3388e3;
    margin:0;
}

.submitBtn{
    padding:10px 20px;
    width:40%;
    color:white;
    background: #FEA53A;
    border:none;

    position: absolute;
    bottom:5%;
    right:5%;
}