.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:90px;
    background: #FEA53A;
}

.logoutBtn{
    background: #ff7227;
    color:white;
    border:none;
    padding:6px 3px;
}

.searchInput{
    padding:6px;
}